/*=-=-=-=-=-=-=-*\
    COMPONENTS   
\*=-=-=-=-=-=-=-*/

// Buttons
.Btn.Btn--hollow {
    border: 1px solid $col-info;
    padding: 10px;
    border-radius: 6px;
    background: transparent;
    transition: background .2s;
    img {
        height: 18px;
        vertical-align: middle;
        margin-right: 5px;
    }
    span {
        color: $col-info;
        transition: color .2s;
    }
    &:hover {
        background: $col-info;
        span {
            color: white;
        }
        img {
            fill: white;
        }
    }
}

// Separator
@mixin containerBorder ($width: 1150px, $bg-color: #b9b3ae) {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: $width;
    height: 1px;
    background: $bg-color;
}

// Menu components
@mixin menuItemArrow {
    position: relative;
    bottom: -4px;
    left: 8px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 2px;
    border: 4px solid #fff;
    border-top: 4px solid $col-main;
}

@mixin subMenuHover {
    display: none;
    position: absolute;
    top: 50px;
    z-index: 1;
    width: fit-content;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    padding: 0 15px;
    &-list {
        list-style: none;
        line-height: 32px;
    }
}

