/*=-=-=-=-=-=-=-=-*\
    COMMON RULES   
\*=-=-=-=-=-=-=-=-*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: $col-main;
    font-family: $font-main;
    font-weight: 300;
}