/*=-=-=-=-=-=-=*\
    VARIABLES   
\*=-=-=-=-=-=-=*/

// Colors
$col-bg-alt: #f9e6d2;
$col-main: #534231;
$col-info: #374d8a;
$col-info-alt: #233569;
$col-separation: #b9b3ae;

// Typography
$font-main: 'Poppins', sans-serif;

@mixin textStyle ($size: 1em, $align: center, $spacing: 30px) {
    font-size: $size;
    text-align: $align;
    margin-bottom: $spacing;
}
// Layout
@mixin inline-items {
    list-style: none;
    .Menu-item {
        margin-left: 40px;
        a {
            text-decoration: none;
            color: $col-main;
            font-size: .8em;
            font-weight: 500;
            &:hover {
                color: $col-info;
            }
        }
    }
}

